/* Big tablet to 1200px */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 3%;
  }

  .card,
  h3 {
    margin-left: 3%;
    margin-right: 3%;
  }

  .row {
    padding-left: 3%;
    padding-right: 3%;
  }
}

/* Tablet */
@media only screen and (max-width: 979px) {
  body {
    font-size: 15px;
  }

  .main-nav {
    display: none;
  }

  .main-nav {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    font-size: 100%;
  }

  .main-nav li a::after {
    border: none;
  }

  .mobile-nav-icon {
    display: block;
  }
  
  .sticky .row {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sticky .main-nav {
    margin-top: 8px;
    padding: 0;
  }

  .sticky .mobile-nav-icon {
    margin-top: 0;
  }

  .sticky .mobile-nav-icon i {
    color: #555;
  }

  h1 {
    font-size: 3.8vw;
  }

  section {
    padding: 60px 0;
  }

  .projects-showcase li {
    flex: 1 1 50%;
    position: relative;
  }

  .projects-showcase figure {
    position: initial;
  }

  .projects-showcase img {
    transition: none;
  }

  .projects-showcase li:hover img {
    transform: scale(1);
    opacity: 1;
  }

  .projects-showcase .links {
    opacity: 1;
    top: initial;
    bottom: -25px;
  }

  .project-info .project-description {
    margin-bottom: 60px;
  }

  .projects-showcase .links div {
    height: 40px;
    width: 60px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(174, 174, 174);
  }

  .projects-showcase .links a:first-child {
    margin-right: 8px;
  }

  .contact .email {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 40px;
  }

  .email .email-icon {
    padding: 22px;
  }

  .email .email-icon i,
  .phone .phone-icon i {
    font-size: 190%;
  }

  .email p,
  .phone p {
    font-size: 98%;
  }

  .contact .phone {
    margin-top: 40px;
  }

  .phone .phone-icon {
    padding: 22px;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  .hero-text-box {
    text-align: center;
  }

  .hero-text {
    display: none;
  }

  .mobile-hero-text {
    display: block;
  }

  h1 {
    font-size: 6vw;
    line-height: 150%;
  }

  section {
    padding: 50px 0;
  }

  .btn-full:link,
  .btn-full:visited,
  .btn-ghost:link,
  .btn-ghost:visited {
    font-size: 90%;
  }

  .btn-full:link,
  .btn-full:visited {
    margin-right: 5px;
  }

  .bio {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .bio figure {
    border-right: none;
    padding-right: 0;
    padding-bottom: 18px;
    border-bottom: 1px solid #d8d8d8;
  }

  .bio__text {
    font-size: 105%;
    padding-left: 0;
    padding-top: 18px;
    padding: 10px;
  }

  .about-text {
    font-size: 105%;
  }

  .bio__text .social-links {
    justify-content: center;
  }

  .skills-wrapper {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .skills-showcase {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
  }

  .skills-recent {
    margin-top: 0;
    width: 100%;
  }

  #recent-heading {
    display: none;
  }

  .skills-showcase .skill {
    margin: 0 15px 0 0;
  }

  .skills-showcase .skill img {
    height: 60px;
    width: 60px;
  }

  .projects-showcase li {
    flex: 1 1 100%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 8px #b6b6b6;
  }

  .projects-showcase li:last-child {
    margin-bottom: 0;
  }

  .projects-showcase li:nth-child(2n + 1) {
    background-color: rgb(255, 255, 255);
  }

  .projects-showcase .links div {
    box-shadow: 2px 2px 5px rgb(174, 174, 174);
  }

  .contact {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .contact .email {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 40px;
  }

  .email .email-icon i,
  .phone .phone-icon i {
    font-size: 180%;
  }

  .footer-content {
    flex-direction: column;
  }

  footer p {
    margin-bottom: 20px;
    align-self: flex-start;
  }
}
