* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base color: */
/* #0984e3 */

html {
  color: rgb(155, 155, 155);
  font-family: "Lato", "Arial", "sans-serif";
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: url(../images/clement-h-95YRwf6CNw8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0;
}