/* ------------------------- */
/* BASIC SETUP */
/* ------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base color: */
/* #c0392b */

body {
  color: #555;
  font-family: "Lato", "Arial", "sans-serif";
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

/* ------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
  content: "";
  display: table;
}

section {
  padding: 70px 0;
}

/* ------ HEADINGS ------ */

h1,
h2,
h3 {
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-transform: uppercase;
}

h1 {
  color: #fff;
  font-size: 240%;
  margin: 0 0 20px;
}

h2 {
  font-size: 180%;
  text-align: center;
  margin-bottom: 30px;
}

h2::after {
  display: block;
  height: 2px;
  content: "";
  background-color: #c0392b;
  width: 100px;
  margin: 18px auto 0;
}

h3 {
  font-size: 140%;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(227, 227, 227);
  max-width: 1140px;
  margin: 0 auto 15px;
}

/* ------ BUTTONS ------ */

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #c0392b;
  border: 1px solid #c0392b;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #c0392b;
  color: #c0392b;
}

.btn:hover,
.btn:active {
  background-color: #a43125;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #a43125;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #a43125;
  color: #fff;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(../images/hero-image-min.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Card */
.card {
  background: linear-gradient(to bottom right, #f0f0f0, white);
  border-radius: 5px;
  box-shadow: 0 5px 5px rgb(238, 238, 238);
}

nav .first-link {
  display: none;
}

/* Main navigation */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin-top: 55px;
}


.main-nav .main-nav__link {
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a::after {
  content: "";
  display: block;
  padding-top: 8px;
  border-bottom: 2px solid #c0392b;
  width: 0%;
  transition: width 0.5s;
}

.main-nav li a:hover::after,
.main-nav li a:active::after {
  width: 100%;
}

/* Sticky Navigation */

.sticky .first-link {
  display: block;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 1;
}

.sticky .main-nav {
  margin-top: 15px;
  padding: 10px 0;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  color: #555;
}

/* ------------------------- */
/* ABOUT ME */
/* ------------------------- */

/** Bio **/

.bio {
  display: flex;
  align-items: center;
  padding: 50px;
  margin-bottom: 30px;
}

.bio figure {
  border-right: 1px solid #d8d8d8;
  padding-right: 20px;
}

.bio figure img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: 0 25%;
  border-radius: 50%;
  box-shadow: 0 5px 5px #e7e7e7;
}

.bio__text {
  padding-left: 20px;
}

.bio__text .social-links {
  display: flex;
  list-style: none;
}

.bio__text .social-links li {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #b6b6b6;
  margin: 15px 5px 0 0;
  box-shadow: 0 5px 5px #e7e7e7;
  transition: border 0.5s, background-color 0.5s, color 0.5s;
  cursor: pointer;
}

.bio__text .social-links li i {
  color: rgb(117, 117, 117);
}

.bio__text .linkedin:hover,
.bio__text .linkedin:active {
  background-color: #0077b5;
  border: 1px solid #0077b5;
}

.bio__text .github:hover,
.bio__text .github:active {
  background-color: #4078c0;
  border: 1px solid #4078c0;
}

.bio__text .linkedin:hover i,
.bio__text .linkedin:active i,
.bio__text .github:hover i,
.bio__text .github:active i {
  color: white;
}

.about-text {
  margin-top: 8px;
  line-height: 145%;
  font-size: 120%;
}

/** Skills **/

.skills-showcase {
  padding: 50px;
}

.skills-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.skills-wrapper:last-child {
  margin-bottom: 0;
}

.skills-showcase .skill {
  transition: transform 0.2s;
  cursor: pointer;
}

.skills-showcase .skill:hover,
.skills-showcase .skill:active {
  transform: scale(1.15);
}

.skills-showcase .skill img {
  display: block;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid #c1b0ae;
  box-shadow: 0 5px 5px #e7e7e7;
}

/* ------------------------- */
/* PORTFOLIO */
/* ------------------------- */

.portfolio {
  background-color: #f4f4f4;
}

.projects-showcase {
  list-style: none;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}

.projects-showcase li {
  display: block;
  flex: 1 1 33.33%;
  border-radius: 3px;
  overflow: hidden;
}

.projects-showcase li:nth-child(3n + 3),
.projects-showcase li:last-child {
  margin-right: 0;
}

.projects-showcase li:nth-child(2n) {
  background-color: rgb(255, 255, 255);
}

.projects-showcase li:nth-child(2n + 1) {
  background-color: rgb(236, 236, 236);
}

.projects-showcase figure {
  position: relative;
  width: 100%;
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

.projects-showcase .project-info {
  padding: 10px;
}

.project-info .project-title {
  font-size: 110%;
  margin-bottom: 5px;
}

.project-info .project-description {
  font-size: 101%;
}

.projects-showcase img {
  width: 100%;
  height: auto;
  transition: transform 0.5s, opacity 0.5s;
  display: block;
}

.projects-showcase li:hover img {
  transform: scale(1.03);
  opacity: 0.6;
}

.projects-showcase .links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-showcase li:hover .links {
  opacity: 1;
}

.projects-showcase .links div {
  background-color: #c0392b;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 5px rgb(57, 57, 57);
  transition: background-color 0.2s;
}

.projects-showcase .links div:hover,
.projects-showcase .links div:active {
  background-color: #a43125;
}

.projects-showcase .links a {
  text-decoration: none;
}

.projects-showcase .links a:first-child {
  margin-right: 5px;
}

.projects-showcase .links a i {
  font-size: 130%;
  cursor: pointer;
}

.projects-showcase .links a:first-child i {
  color: white;
}

.projects-showcase .links a:last-child i {
  color: white;
  margin-right: 0;
}

/* ------------------------- */
/* CONTACT */
/* ------------------------- */

.contact {
  padding: 50px;
}

.contact .email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 50px;
}

.email .email-icon {
  border-radius: 50%;
  background-color: #c0392b;
  padding: 25px;
  transition: background-color 0.2s;
  cursor: pointer;
  margin-bottom: 15px;
}

.email .email-icon i,
.phone .phone-icon i {
  font-size: 200%;
  color: white;
}

.email .email-2 {
  display: none;
}

.email-icon:hover,
.email-icon:active {
  background-color: #a43125;
}

.email-icon:hover .email-1,
.email-icon:active .email-1 {
  display: none;
}

.email-icon:hover .email-2,
.email-icon:active .email-2 {
  display: block;
}

.email p {
  font-weight: 500;
  text-transform: uppercase;
}

.contact .phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.phone .phone-icon {
  border-radius: 50%;
  background-color: #c0392b;
  padding: 25px;
  transition: background-color 0.2s, transform 0.2s;
  cursor: pointer;
  margin-bottom: 15px;
}

.phone p {
  font-weight: 500;
  text-transform: uppercase;
}

.phone-icon:hover,
.phone-icon:active {
  background-color: #a43125;
  transform: rotate(10deg);
}

/* ------------------------- */
/* FOOTER */
/* ------------------------- */

footer {
  background-color: #333;
  padding: 50px;
}

.footer-content {
  display: flex;
  align-items: center;
}

footer .social-links {
  list-style: none;
  display: flex;
  margin-left: auto;
}

footer .social-links i,
p {
  color: #888;
}

footer .linkedin {
  margin-right: 15px;
}

footer .social-links i {
  font-size: 150%;
  transition: color 0.2s;
}

footer .linkedin:hover i,
footer .linkedin:active i {
  color: #0077b5;
}

footer .github:hover i,
footer .github:active i {
  color: #4078c0;
}

/* ------------------------- */
/* Animations */
/* ------------------------- */

.to-animate {
  opacity: 0;
}

.to-animate.animated {
  opacity: 1;
}