* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base color: */
/* #0984e3 */

html {
  color: rgb(155, 155, 155);
  font-family: "Lato", "Arial", "sans-serif";
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}